* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 800px;
  width: 100%;
}

.sakura {
  height: 200px;
  width: 100%;
  background-image: url(img/box1.jpg);
  background-position: center;
  background-size: cover;
}

.see {
  height: 200px;
  width: 100%;
  background-image: url(img/box2.jpg);
  background-position: center;
  background-size: cover;
}

.momigi {
  height: 200px;
  width: 100%;
  background-image: url(img/box3.jpg);
  background-position: center;
  background-size: cover;
}

.snow {
  height: 200px;
  width: 100%;
  background-image: url(img/box4.jpg);
  background-position: center;
  background-size: cover;
}