* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  margin: 50px 0 10px 0;
}

.list {
  margin: 0 auto;
  padding: 20px;
  width: 960px;
}

.list:nth-child(odd) {
  background-color: #f7f7f7;
}

main {
  margin: 0 auto 50px auto;
  display: flex;
  flex-wrap: wrap;
  width: 960px;
}

.box {
  height: 200px;
  width: 30%;
  margin-top: 40px;
  margin-right: 5%;
}

.box:nth-child(3) {
  margin-right: 0;
}

.box:nth-child(6) {
  margin-right: 0;
}

.box:nth-child(9) {
  margin-right: 0;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}